@if ( pokemon() === null) {
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold">Loading...</h1>

  </div>
} @else {
  @let myPokemon = pokemon()!;

  <section class="flex flex-col justify-center">

    <div class="flex justify-center">
      <h1 class="text-4xl font-bold capitalize my-5">{{myPokemon.name}}</h1>
    </div>


  </section>

  <section class="flex flex-col  justify-center items-center w-full">
    <img [src]="myPokemon.sprites.other?.['official-artwork']?.front_default" alt="">
    @if (myPokemon.cries.latest !== null) {
      <audio controls class="my-5">
        <source [src]="myPokemon.cries.latest" type="audio/wav">
      </audio>
    }
  </section>

  <section class="flex flex-col justify-center items-center">
    <h2 class="text-white text-3xl font-semibold my-4">Abilities</h2>
    <div class="flex flex-row">
      @for (ability of myPokemon.abilities; track $index) {
        <span class="bg-gray-500 text-white font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{ability.ability.name | titlecase}}</span>
      }
    </div>

  </section>

}
